

<div class="container">
    <div class="col-md-6 jumbotron">
        <div id="mongo" class="text-center" style="margin-left"="500px">
            <h1>Scraper APP</h1>
        </div>

    </div>
    <div class="col-md-6">
        {{#if article}}
            {{#each article}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{this.title}}</h4>
                </div>
                <div class="panel-body">
                    <p> {{this.summary}}</p>
                    <a href={{this.link}} target="_blank">{{this.link}}</a>
                    <br><br>
                    <button type="button"  data-id={{this._id}}>Save</button>
                </div>
            </div>
            {{/each}}
        {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
            <h4>No new Articles</h4>
            </div>
         </div>
        {{/if}}
    </div>
</div>
